doctype html
html
	head
		title 404
		style.
			body {
				margin: 0;
				height: 100vh;
				line-height: 100vh;
				text-align: center;
				font-family: monospace;
				font-size: 40vh;
			}
	body 404