extends page

block title
	| Douglas Adams

block contentlinks
	a(href='#early-life') Early life
	a(href='#education') Education
	a(href='#career') Career
	a(href='#guide') The Guide
	a(href='#life') Personal life
	a(href='#no') Death

block photo
	img(src='/images/adams.jpg')

block info
	tr
		th Born
		td March 11, 1952
	tr
		th Died
		td May 11, 2001 (aged 49)
	tr
		th Occupation
		td Writer
	tr
		th Alma mater
		td St John's College, Cambridge
	tr
		th Genre
		td Science fiction, comedy, satire

block text
	h1 Douglas Adams
	p Douglas Noel Adams (11 March 1952 – 11 May 2001) was an English author, scriptwriter, essayist, humorist, satirist and dramatist.
	p Adams was author of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio comedy before developing into a "trilogy" of five books that sold more than 15 million copies in his lifetime and generated a television series, several stage plays, comics, a computer game, and in 2005 a feature film. Adams's contribution to UK radio is commemorated in The Radio Academy's Hall of Fame.
	p Adams also wrote Dirk Gently's Holistic Detective Agency (1987) and The Long Dark Tea-Time of the Soul (1988), and co-wrote The Meaning of Liff (1983), The Deeper Meaning of Liff (1990), Last Chance to See (1990), and three stories for the television series Doctor Who; he also served as script editor for the show's seventeenth season in 1979. A posthumous collection of his works, including an unfinished novel, was published as The Salmon of Doubt in 2002.
	p Adams was an advocate for environmentalism and conservation, a lover of fast cars, technological innovation and the Apple Macintosh, and a devout atheist.

	h3#early-life Early life
	p Adams was born on 11 March 1952 to Janet (née Donovan; 1927–2016) and Christopher Douglas Adams (1927–1985) in Cambridge, England. The family moved to the East End of London a few months after his birth, where his sister, Susan, was born three years later. His parents divorced in 1957; Douglas, Susan, and their mother moved to an RSPCA animal shelter in Brentwood, Essex, run by his maternal grandparents.

	h3#education Education
	p Adams attended Primrose Hill Primary School in Brentwood. At nine, he passed the entrance exam for Brentwood School, an independent school whose alumni include Robin Day, Jack Straw, Noel Edmonds, and David Irving. Griff Rhys Jones was a year below him, and he was in the same class as Stuckist artist Charles Thomson. He attended the prep school from 1959 to 1964, then the main school until December 1970. Adams was 6 feet (1.8 m) by age 12 and stopped growing at 6 feet 5 inches (1.96 m). His form master, Frank Halford, said his height had made him stand out and that he had been self-conscious about it. His ability to write stories made him well known in the school. He became the only student ever to be awarded a ten out of ten by Halford for creative writing, something he remembered for the rest of his life, particularly when facing writer's block.

	p On the strength of a bravura essay on religious poetry that discussed the Beatles and William Blake, he was awarded an Exhibition in English at St John's College, Cambridge, going up in 1971. He wanted to join the Footlights, an invitation-only student comedy club that has acted as a hothouse for comic talent. He was not elected immediately as he had hoped, and started to write and perform in revues with Will Adams (no relation) and Martin Smith, forming a group called "Adams-Smith-Adams", but became a member of the Footlights by 1973. Despite doing very little work—he recalled having completed three essays in three years—he graduated in 1974 with a B.A. in English literature.

	h3#career Career
	p After leaving university Adams moved back to London, determined to break into TV and radio as a writer. An edited version of the Footlights Revue appeared on BBC2 television in 1974. A version of the Revue performed live in London's West End led to Adams being discovered by Monty Python's Graham Chapman. The two formed a brief writing partnership, earning Adams a writing credit in episode 45 of Monty Python for a sketch called "Patient Abuse". The pair also co-wrote the "Marilyn Monroe" sketch which appeared on the soundtrack album of Monty Python and the Holy Grail. Adams is one of only two people other than the original Python members to get a writing credit (the other being Neil Innes).

	p Some of Adams's early radio work included sketches for The Burkiss Way in 1977 and The News Huddlines. He also wrote, again with Chapman, 20 February 1977 episode of Doctor on the Go, a sequel to the Doctor in the House television comedy series. After the first radio series of The Hitchhiker's Guide became successful, Adams was made a BBC radio producer, working on Week Ending and a pantomime called Black Cinderella Two Goes East. He left after six months to become the script editor for Doctor Who.

	h3#guide The Hitchhiker's Guide to the Galaxy
	p The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.

	p According to Adams, the idea for the title occurred to him while he lay drunk in a field in Innsbruck, Austria, gazing at the stars. He was carrying a copy of the Hitch-hiker's Guide to Europe, and it occurred to him that "somebody ought to write a Hitchhiker's Guide to the Galaxy". He later said that the constant repetition of this anecdote had obliterated his memory of the actual event.

	h3#life Personal life
	p Adams moved to Upper Street, Islington, in 1981 and to Duncan Terrace, a few minutes' walk away, in the late 1980s.

	p In the early 1980s Adams had an affair with novelist Sally Emerson, who was separated from her husband at that time. Adams later dedicated his book Life, the Universe and Everything to Emerson. In 1981 Emerson returned to her husband, Peter Stothard, a contemporary of Adams's at Brentwood School, and later editor of The Times. Adams was soon introduced by friends to Jane Belson, with whom he later became romantically involved. Belson was the "lady barrister" mentioned in the jacket-flap biography printed in his books during the mid-1980s ("He [Adams] lives in Islington with a lady barrister and an Apple Macintosh"). The two lived in Los Angeles together during 1983 while Adams worked on an early screenplay adaptation of Hitchhiker's. When the deal fell through, they moved back to London, and after several separations ("He is currently not certain where he lives, or with whom") and a broken engagement, they married on 25 November 1991.

	p Adams and Belson had one daughter together, Polly Jane Rocket Adams, born on 22 June 1994, shortly after Adams turned 42. In 1999 the family moved from London to Santa Barbara, California, where they lived until his death. Following the funeral, Jane Belson and Polly Adams returned to London. Belson died on 7 September 2011 of cancer, aged 59.

	h3#no Death
	p Adams died of a heart attack on 11 May 2001, aged 49, after resting from his regular workout at a private gym in Montecito, California. Adams had been due to deliver the commencement address at Harvey Mudd College on 13 May. His funeral was held on 16 May in Santa Barbara. His ashes were placed in Highgate Cemetery in north London in June 2002. A memorial service was held on 17 September 2001 at St Martin-in-the-Fields church, Trafalgar Square, London. This became the first church service broadcast live on the web by the BBC. Video clips of the service are still available on the BBC's website for download.

	p One of his last public appearances was a talk given at the University of California, Santa Barbara, Parrots, the universe and everything, recorded days before his death. A full transcript of the talk is available, and the university has made the full video available on YouTube.

	p Two days before Adams died, the Minor Planet Center announced the naming of asteroid 18610 Arthurdent. In 2005, the asteroid 25924 Douglasadams was named in his memory.
