extends page

block title
	| Kevin Mitnick

block contentlinks
	a(href='#life') Life
	a(href='#career') Career
	a(href='#media') Media
	a(href='#books') Books

block photo
	img(src='/images/kevin.jpg')

block info
	tr
		th Born
		td August 6, 1963
	tr
		th Other names
		td The Condor<br>The Darkside Hacker
	tr
		th Occupation
		td Information technology consultant
	tr
		th Organization
		td Mitnick Security Consulting
	tr
		th Call sign
		td N6NHG

block text
	h1 Kevin Mitnick
	p Kevin David Mitnick (born August 6, 1963) is an American computer security consultant, author, and hacker, best known for his high-profile 1995 arrest and later five years in prison for various computer and communications-related crimes.

	p Mitnick's pursuit, arrest, trial, and sentence along with the associated journalism, books, and films were all controversial.

	p He now runs the security firm <a href="https://mitnicksecurity.com/">Mitnick Security Consulting, LLC</a> which helps test companies' security strengths, weaknesses, and potential loopholes. He is also the Chief Hacking Officer of the security awareness training company KnowBe4, as well as an active advisory board member at Zimperium, a firm that develops a mobile intrusion prevention system.vation, a lover of fast cars, technological innovation and the Apple Macintosh, and a devout atheist.

	h3#life Life
	p Mitnick was born in Van Nuys into a Jewish family. He grew up in Los Angeles and attended James Monroe High School in Sepulveda, California, during which time he became an amateur radio operator. He was later enrolled at Los Angeles Pierce College and USC. For a time, he worked as a receptionist for Stephen S. Wise Temple.

	p
		strong Computer hacking
	p At age 13, Mitnick used social engineering and dumpster diving to bypass the punch card system used in the Los Angeles bus system. After he convinced a bus driver to tell him where he could buy his own ticket punch for "a school project", he was able to ride any bus in the greater LA area using unused transfer slips he found in a dumpster next to the bus company garage. Social engineering later became his primary method of obtaining information, including usernames and passwords and modem phone numbers.

	p Mitnick first gained unauthorized access to a computer network in 1979, at 16, when a friend gave him the phone number for the Ark, the computer system Digital Equipment Corporation (DEC) used for developing their RSTS/E operating system software. He broke into DEC's computer network and copied their software, a crime for which he was charged and convicted in 1988. He was sentenced to 12 months in prison followed by three years of supervised release. Near the end of his supervised release, Mitnick hacked into Pacific Bell voice mail computers. After a warrant was issued for his arrest, Mitnick fled, becoming a fugitive for two and a half years.

	p According to the U.S. Department of Justice, Mitnick gained unauthorized access to dozens of computer networks while he was a fugitive. He used cloned cellular phones to hide his location and, among other things, copied valuable proprietary software from some of the country's largest cellular telephone and computer companies. Mitnick also intercepted and stole computer passwords, altered computer networks, and broke into and read private e-mails.

	h3#career Career
	p Since 2000, Mitnick has been a paid security consultant, public speaker and author. He does security consulting for Fortune 500 companies and the FBI, performs penetration testing services for the world's largest companies and teaches Social Engineering classes to dozens of companies and government agencies.

	h3#media Media
	p n 2000, Skeet Ulrich and Russell Wong portrayed Kevin Mitnick and Tsutomu Shimomura in the movie Track Down (known as Takedown outside the USA), which was based on the book Takedown by John Markoff and Tsutomu Shimomura. The DVD was released in September 2004. A documentary named Freedom Downtime was produced by 2600: The Hacker Quarterly in response to Takedown.

	p On August 18, 2011, Mitnick appeared on The Colbert Report to talk about his new book, Ghost in the Wires. On August 23, Mitnick was interviewed on Coast to Coast AM during the episode "Hacking & Technology". On August 24, he appeared on the TWiT.tv network's Triangulation episode.

	p On September 12, 2011, Mitnick answered readers' questions on the technology news site Slashdot. This was the second time he was interviewed on Slashdot, the first time being in February 2003.

	p Mitnick's story was a partial inspiration for Wizzywig, Ed Piskor's graphic novel about hackers.

	p Mitnick also appeared in Werner Herzog's documentary Lo and Behold, Reveries of the Connected World (2016).

	h3#books Books

	p
		strong Written by Mitnick
	p Mitnick is the co-author, with William L. Simon and Robert Vamosi, of three computer security books and his autobiography:

	ul
		li (2003) The Art of Deception: Controlling the Human Element of Security
		li (2005) The Art of Intrusion: The Real Stories Behind the Exploits of Hackers, Intruders & Deceivers'
		li (2011) Ghost in the Wires: My Adventures as the World's Most Wanted Hacker
		li (2017) The Art of Invisibility: The World's Most Famous Hacker Teaches You How to Be Safe in the Age of Big Brother and Big Data
	p
		strong Authorized by Mitnick
		ul
			li (1996) The Fugitive Game: Online with Kevin Mitnick. In this book author Jonathan Littman presented Mitnick's account of his story, as John Markoff's book "Takedown" (1996) and Jeff Goodell's "Cyberthief and the Samurai" (1996) presented Shimomura's side (when Mitnick was legally unable to profit from his own story).