html
  head
  body
    .loader
    style.
      body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      }
      .loader {
        height: 4rem;
        width: 4rem;
        overflow: hidden;
        text-align: center;
        background-size: 3rem;
        background-image: url('/images/loader.png');
        background-position: center;
        background-repeat: no-repeat;
        margin: 2rem auto;
        animation: rotate 1s linear infinite;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        
        100% {
          transform: rotate(360deg);
        }
      }