extends page

block title
	| Elon Musk

block contentlinks
	a(href='#early-life') Early life
	a(href='#education') Education
	a(href='#career') Career
	a(href='#life') Personal life
	a(href='#pop') In popular media

block photo
	img(src='/images/musk.jpg')

block info
	tr
		th Born
		td June 28, 1971
	tr
		th Residence
		td Los Angeles
	tr
		th Citizenship
		td South Africa<br>United States
	tr
		th Occupation
		td Entrepreneur, engineer, and investor
	tr
		th Net worth
		td $19.6 billion

block text
	h1 Elon Musk
	p Elon Reeve Musk (born June 28, 1971) is a South African-born American business magnate, investor, and engineer. He is the founder, CEO, and lead designer of <a href="http://www.spacex.com/">SpaceX</a>; co-founder, CEO, and product architect of <a href="https://www.tesla.com/">Tesla, Inc.</a>; and co-founder and CEO of Neuralink. In December 2016, he was ranked 21st on the Forbes list of The World's Most Powerful People. As of February 2018, he has a net worth of $20.8 billion and is listed by Forbes as the 53rd richest person in the world.

	h3#early-life Early life
	p During his childhood he was an avid reader. At age 10, he developed an interest in computing with the Commodore VIC-20. He taught himself computer programming at the age of 12, sold the code of a BASIC-based video game he created called Blastar, to a magazine called PC and Office Technology, for approximately $500. A web version of the game is available online. His childhood reading included Isaac Asimov's Foundation series from which he drew the lesson that "you should try to take the set of actions that are likely to prolong civilization, minimize the probability of a dark age and reduce the length of a dark age if there is one."
	p Musk was severely bullied throughout his childhood, and was once hospitalized when a group of boys threw him down a flight of stairs and then beat him until he lost consciousness.

	h3#education Education
	p At the age of 17, Musk was accepted into Queen's University in Kingston, Ontario, for undergraduate study. In 1992, after spending two years at Queen's University, Musk transferred to the University of Pennsylvania, where in May 1997 he received a Bachelor of Science degree in physics from its College of Arts and Sciences, and a Bachelor of Science degree in economics from its Wharton School of Business. Musk extended his studies for one year to finish the second bachelor's degree. While at the University of Pennsylvania, Musk and fellow Penn student Adeo Ressi rented a 10-bedroom fraternity house, using it as an unofficial nightclub.

	p In 1995, at age 24, Musk moved to California to begin a PhD in applied physics and materials science at Stanford University, but left the program after two days to pursue his entrepreneurial aspirations in the areas of the internet, renewable energy and outer space. In 2002, he became a U.S. citizen.

	h3#career Career

	p
		strong Zip2
	p In 1995, Musk and his brother, Kimbal, started Zip2, a web software company, with money raised from a small group of angel investors. The company developed and marketed an Internet "city guide" for the newspaper publishing industry. Musk obtained contracts with The New York Times and the Chicago Tribune and persuaded the board of directors to abandon plans for a merger with CitySearch. While at Zip2, Musk wanted to become CEO; however, none of the board members would allow it. Compaq acquired Zip2 for US$307 million in cash and US$34 million in stock options in February 1999. Musk received US$22 million for his 7 percent share from the sale.

	p
		strong PayPal
	p In March 1999, Musk co-founded X.com, an online financial services and e-mail payment company, with US$10 million from the sale of Zip2. One year later, the company merged with Confinity, which had a money-transfer service called PayPal. The merged company focused on the PayPal service and was renamed PayPal in 2001. PayPal's early growth was driven mainly by a viral marketing campaign where new customers were recruited when they received money through the service. Musk was ousted in October 2000 from his role as CEO (although he remained on the board) due to disagreements with other company leadership, notably over his desire to move PayPal's Unix-based infrastructure to Microsoft Windows. In October 2002, PayPal was acquired by eBay for US$1.5 billion in stock, of which Musk received US$165 million. Before its sale, Musk, who was the company's largest shareholder, owned 11.7% of PayPal's shares.

	p In July 2017, Musk purchased the domain x.com from PayPal for an undisclosed amount stating that it has "great sentimental value" to him.

	p
		strong SpaceX
	p In 2001, Musk conceptualized "Mars Oasis"; a project to land a miniature experimental greenhouse on Mars, containing food crops growing on Martian regolith, in an attempt to regain public interest in space exploration. In October 2001, Musk travelled to Moscow with Jim Cantrell (an aerospace supplies fixer), and Adeo Ressi (his best friend from college), to buy refurbished Dnepr Intercontinental ballistic missiles (ICBMs) that could send the envisioned payloads into space. The group met with companies such as NPO Lavochkin and Kosmotras; however, according to Cantrell, Musk was seen as a novice and was consequently spat on by one of the Russian chief designers, and the group returned to the United States empty-handed. In February 2002, the group returned to Russia to look for three ICBMs, bringing along Mike Griffin. Griffin had worked for the CIA's venture capital arm, In-Q-Tel, as well as NASA's Jet Propulsion Laboratory, and was just leaving Orbital Sciences, a maker of satellites and spacecraft. The group met again with Kosmotras, and were offered one rocket for US$8 million; however, this was seen by Musk as too expensive; Musk consequently stormed out of the meeting. On the flight back from Moscow, Musk realized that he could start a company that could build the affordable rockets he needed. According to early Tesla and SpaceX investor Steve Jurvetson, Musk calculated that the raw materials for building a rocket actually were only 3 percent of the sales price of a rocket at the time. It was concluded that theoretically, by applying vertical integration and the modular approach from software engineering, SpaceX could cut launch price by a factor of ten and still enjoy a 70-percent gross margin. Ultimately, Musk ended up founding SpaceX with the long-term goal of creating a "true spacefaring civilization."

	p
		strong Tesla
	p Tesla, Inc. (originally Tesla Motors) was incorporated in July 2003 by Martin Eberhard and Marc Tarpenning, who financed the company until the Series A round of funding.

	p Both men played active roles in the company's early development prior to Elon Musk's involvement. Musk led the Series A round of investment in February 2004, joining Tesla's board of directors as its chairman. Musk took an active role within the company and oversaw Roadster product design at a detailed level, but was not deeply involved in day-to-day business operations.

	p Following the financial crisis in 2008, Musk assumed leadership of the company as CEO and product architect, positions he still holds today. Tesla Motors first built an electric sports car, the Tesla Roadster in 2008, with sales of about 2,500 vehicles to 31 countries. Tesla began delivery of its four-door Model S sedan on June 22, 2012. It unveiled its third product, the Model X, aimed at the SUV/minivan market, on February 9, 2012; however, the Model X launch was delayed until September 2015. In addition to its own cars, Tesla sells electric powertrain systems to Daimler for the Smart EV, Mercedes B-Class Electric Drive and Mercedes A Class, and to Toyota for the RAV4 EV. Musk was able to bring in both companies as long-term investors in Tesla.

	p
		strong SolarCity
	p Musk provided the initial concept and financial capital for SolarCity, which was then co-founded in 2006 by his cousins Lyndon and Peter Rive. By 2013, SolarCity was the second largest provider of solar power systems in the United States. SolarCity was acquired by Tesla, Inc. in 2016 and is currently a wholly owned subsidiary of Tesla.

	p The underlying motivation for funding both SolarCity and Tesla was to help combat global warming. In 2012, Musk announced that SolarCity and Tesla are collaborating to use electric vehicle batteries to smooth the impact of rooftop solar on the power grid, with the program going live in 2013.

	p On June 17, 2014, Musk committed to building a SolarCity advanced production facility in Buffalo, New York, that would triple the size of the largest solar plant in the United States. Musk stated the plant will be "one of the single largest solar panel production plants in the world," and it will be followed by one or more even bigger facilities in subsequent years.

	p
		strong The Boring Company
	p On December 17, 2016, while stuck in traffic, Musk tweeted "Am going to build a tunnel boring machine and just start digging..." The company was named 'The Boring Company'. On January 21, 2017, Musk tweeted "Exciting progress on the tunnel front. Plan to start digging in a month or so." The first tunnel will start on the SpaceX campus, and will probably go to a nearby parking garage. As of January 26, 2017, discussions with regulatory bodies have begun, but no requests for permits to dig in the Los Angeles area had been filed with the California Department of Transportation by late January 2017.

	p In February 2017, the company began digging a 30-foot-wide, 50-foot-long, and 15-foot-deep "test trench" on the premises of Space X's offices in Los Angeles, since the construction requires no permits. Musk has said that a 10-fold decrease in tunnel boring cost per mile is necessary for economic feasibility of the proposed tunnel network.

	h3#life Personal life
	p Musk owned a McLaren F1 supercar, which he crashed while it was uninsured. He also previously owned an Aero L-39, a Czech-made jet trainer aircraft.

	p The 1994 model Dassault Falcon 900 aircraft used in the 2005 film Thank You for Smoking is registered to Musk (N900SX), and Musk had a cameo as the pilot of his plane, opening the door for Robert Duvall and escorting Aaron Eckhart aboard. Musk owns Wet Nellie, the Lotus Esprit from the James Bond film The Spy Who Loved Me. He plans to convert it into the functional car-submarine from the film.

	p Musk attended the Burning Man festival in 2004 and has said he first thought up the idea for SolarCity at the festival.

	p Tosca Musk, Elon's sister, is a filmmaker. She is the founder of Musk Entertainment and has produced various movies.

	p Musk stated that he wants "to die on Mars, just not on impact."

	h3#pop In popular media
	p In Iron Man 2 (2010), Musk met Tony Stark (Robert Downey Jr.) in a restaurant, and had some brief lines regarding an "idea for an electric jet."

	p In January 2015, Musk made a guest appearance playing himself on The Simpsons in an episode titled "The Musk Who Fell to Earth"; the episode poked fun at many of Musk's ideas.

	p In November 2015, Musk appeared in an episode of The Big Bang Theory, playing himself, volunteering at a soup kitchen with Howard.

	p Musk was featured in the 2015 environmental documentary Racing Extinction, in which a custom Tesla Model S was designed to help project images of critically endangered species onto public buildings, including the Empire State Building and the Vatican.

	p In 2016, Musk appeared as himself in the romantic comedy film Why Him? where he was briefly met by one of the main characters, Ned Flemming played by Bryan Cranston, in a bar at a party.

	p Also in 2016, Musk was referenced by Dr. Martin Stein on The CW time-travel TV show DC's Legends of Tomorrow. During time travel to the past, Stein meets his younger self and introduced himself as Elon Musk, to disguise his own identity.

	p In October 2017, Musk was prematurely immortalized as a historic pioneer on the CBS All Access series Star Trek: Discovery. Set in the year 2256, Captain Gabriel Lorca attempts to motivate a scientist on his ship by asking him "How do you want to be remembered in history? Alongside the Wright Brothers, Elon Musk, Zefram Cochrane? Or as a failed fungus expert. A selfish little man who put the survival of his own ego before the lives of others?" According to an article in techcrunch.com published the day after the episode aired, this mention is "also interesting because of its notable omission of Amazon and Blue Origin founder Jeff Bezos: This other space entrepreneur is such a big fan of Star Trek that he pitched and succeeded in landing a cameo in Star Trek Beyond as an alien being, but he doesn’t rate a mention from Lorca among the spaceflight pantheon."